# ignore everything
*
# */


# except for these files
!.gitignore
!.gitmessage
!.gitconfig
!README.md
!.bash_aliases
!.zshrc
!.condarc
!.vimrc
!.nuxtrc
!gpg.key
!.chktexrc
!.bash_aliases
!.bashrc
!.bash_profile

# include common tex files
!latex-common
!latex-common/*

!config.fish
!alias.fish
!exports.fish
!prompt.fish

!fish.functions
!fish.functions/*

fish.functions/fisher.fish
fish.functions/*nvm*


!globals
!globals/*
